<head th:fragment="head">
    <title th:text="${pageTitel}"></title>

    <meta charset="UTF-8">
    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}" src="/js/bootstrap.bundle.min.js"></script>
    <!-- Fontawesome -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

    <link th:href="@{/css/bootstrap-5.2.3-dist/css/bootstrap.min.css}" type="text/css" media="all" rel="stylesheet" href="/css/bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script src="http://localhost:35729/livereload.js"></script>

</head>
