<div th:fragment="skillWithSlider(listOfSkills)">
<div class="row" th:each="skill: ${listOfSkills}" style="margin-bottom: 3px;">
        <div class="col-6">
            <p th:text="${skill.name}"></p>
        </div>
        <div class="col-6">
            <label>
                <input th:name="${#strings.toLowerCase(skill.name).concat('-range')}" type="range" class="form-range"
                       min="0" max="5"
                       th:disabled="${mode != 'EDIT'}">
            </label>
        </div>
    </div>
</div>