body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

.gothic-font {
    font-family: "Georgia", Times, serif;;
}

/* Applying light purple background to the navbar */
.navbar {
    background-color: black; /* Light purple color code */
    padding: 10px; /* Adjust padding as needed */
}

/* Define a slow fade-in effect */
@keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0.5; }
}

body {
    background-color: white;
}
.row > .form-floating > label {
    margin-left:0.75em;
}

.form-range::-webkit-slider-thumb {
    background-color: #b60000;
    background-image: url("static/img/icons8-drop-64.png");
    background-size: 43%;
    background-position: center;
    background-repeat: no-repeat;
}