<div class="container">
    <div th:replace="~{fragments/sectionHeadline('Fähigkeiten')}"/>
    <div class="row">
        <div class="col-4">
            <div class="row">
                <h3 class="text-center">Talente</h3>
            </div>
            <div th:replace="~{fragments/textWithSlider(${talente['vampire1.0']})}"></div>
        </div>
        <div class="col-4">
            <div class="row">
                <h3 class="text-center">Fertigkeiten</h3>
            </div>
            <div th:replace="~{fragments/textWithSlider(${skills['vampire1.0']})}"></div>
        </div>
        <div class="col-4">
            <div class="row">
                <h3 class="text-center">Kenntnisse</h3>
            </div>
            <div th:replace="~{fragments/textWithSlider(${knowledge['vampire1.0']})}"></div>
        </div>
    </div>
</div>