<div class="row col-12">
    <div class="row">
        <h3 class="text-center">Rituale</h3>
    </div>
    <div id="rituals">

    </div>
    <div id="ritualsButtons" class="row col-12">
        <button id="addRitual"
                class="btn btn-success"
            onclick="addRitualSelect()">
            +
        </button>
        <button id="removeRitual"
                class="btn btn-danger"
            onclick="removeRitualSelect()">
            -
        </button>
    </div>
    <script id="ritualScript">
        var countOfRituals = 0;

        function addRitualSelect() {

        }

        function removeRitualSelect() {

        }
    </script>
</div>