<div class="container">
<div th:replace="~{fragments/sectionHeadline('Vorteile')}"/>

<div class="row">
    <div class="col-4">
        <div class="row">
            <h3 class="text-center">Hintergrund</h3>
            <div
                    th:replace="~{fragments/selectWithSlider(${backgrounds}, 'background', 'Hintergrund', false)}"></div>

        </div>
    </div>
    <div class="col-4">
        <h3 class="text-center">Disziplinen</h3>
        <div id="clanDisciplines">
            <div th:replace="~{fragments/selectWithSlider(${disciplines}, 'clanDisciplineFixed0', 'Clan 1', true)}"></div>
            <div th:replace="~{fragments/selectWithSlider(${disciplines}, 'clanDisciplineFixed1', 'Clan 2', true)}"></div>
            <div th:replace="~{fragments/selectWithSlider(${disciplines}, 'clanDisciplineFixed2', 'Clan 3', true)}"></div>
        </div>
        <div id="additionalDisciplnes">

        </div>
        <div class="row" id="additionalDisciplnesButtonRow">
            <div class="col-6">
                <button type="button" id="addButtonDiscipline" class="btn btn-outline-success col-12" onclick="addAdditionalDiscipline()"
                        th:style="${mode != 'EDIT' ? 'display:none' : 'display:block' }"
                        th:disabled="${mode != 'EDIT'}">
                    +
                </button>
            </div>
            <div class="col-6">
                <button type="button" id="subButtonDiscipline" class="btn btn-outline-danger col-12" onclick="removeDisciplie()"
                        th:disabled="${mode != 'EDIT'}">
                    -
                </button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <h3 class="text-center">Tugenden</h3>
            <div th:replace="~{fragments/selectWithSlider(${tugenden.get(0).data}, 'tugend1', 'Tugend 1', false)}"></div>
            <div th:replace="~{fragments/selectWithSlider(${tugenden.get(1).data}, 'tugend2', 'Tugend 2', false)}"></div>
            <div th:replace="~{fragments/selectWithSlider(${tugenden.get(2).data}, 'tugend3', 'Tugend 3', false)}"></div>
        </div>
    </div>
</div>
</div>