<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/header}">
    <title>Slayer</title>
<body id="body">
<!-- Navbar oben -->
<nav class="navbar" data-bs-theme="light" style="margin-bottom: 1%">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
    </div>
</nav>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Charakterauswahl</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${character}"></li>
        </ol>
    </nav>
</div>
<div id="statsContent">
    <div th:replace="stats::#stats"/>
</div>
</body>
</html>