<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/header}">
    <title>Slayer</title>
<body id="body">
<!-- Navbar oben -->
<nav class="navbar" data-bs-theme="light" style="margin-bottom: 1%">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
    </div>
</nav>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Charakterauswahl</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${character}"></li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="row col-12">
        <!--suppress ALL -->
        <div class="col-12 form-floating">
            <select id="regelwerke" name="regelwerke" class="form-select" style="margin-bottom: 1%"
                    onchange="changeRules(this)"
                    th:disabled="${mode != 'EDIT'}">
                <option value="null" th:selected="(null == ${__${#strings.toLowerCase('Regelauswahl')}__})">----</option>
                <option th:each="data : ${regelwerke}" th:value="${data.id}" th:text="${data.name}"
                        th:selected="(${data.id} == ${#strings.toLowerCase(regelauswahl)})"
                        th:id="(${data.id} == ${#strings.toLowerCase('Regelauswahl')})"
                />
            </select>
            <label for="regelwerke" class="form-label" th:text="${'Regelauswahl'.concat(':')}">
            </label>
        </div>
    </div>
</div>
<div id="statsContent"  >
    <div  th:replace="~{stats}"/>
</div>
<div id="toasts">
</div>
</body>
</html>