<div id="chooseView" class="container">
    <div th:replace="~{fragments/sectionHeadline::sectionHeadline('Chrakterauswahl')}"/>
    <form id="characterForm" action="/character" method="get">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col">Regelwerk</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="char: ${charaktere}">
                <th scope="col" th:text="${char.name}"/>
                <th scope="col" th:text="${char.level}"/>
                <th scope="col" th:text="${char.regelwerk}"/>
                <th
                        scope="col"><button class="btn btn-info" th:value="${char.name}" name="character"
                                            type="submit">Fortsetzen
                </button></th>
            </tr>
            <tr>
                <th scope="rowgroup">
                    <button class="btn btn-info" type="submit" name="action" value="new">Neuen Charakter
                        anlegen</button>
                </th>
            </tr>
            </tbody>
        </table>
    </form>
</div>