<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header}">
<body>
<form>
    <!-- Navbar oben -->
    <nav class="navbar" data-bs-theme="light" style="margin-bottom: 1%">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
        </div>
    </nav>
    <div class="container" data-bs-theme="light" style="margin-bottom: 1%">
    </div>
    <!-- Container Charakter Daten -->
    <div class="container" data-bs-theme="light" style="margin-bottom: 1%">
        <div th:replace="~{fragments/sectionHeadline('Allgemeines')}"/>
        <div class="row" style="margin-bottom: 1%">
            <div class="col-12 form-floating">
                <select id="clanInput" th:name="${clanInput}" class="form-select col-12" th:onchange="changeClanData()">
                    <option value="null">Bitte auswählen</option>
                    <option th:each="clan : ${clans['vampire1.0']}" th:value="${clan.id}"
                            th:text="${clan.name}"></option>
                </select> <label for="clanInput">Clan:</label>
            </div>
        </div>
        <!-- Reihe 1 -->
        <div class="row" style="margin-bottom: 1%">
            <div class="col-4">
                <div class="form-floating">
                    <input type="text"
                           id="characterNameInput"
                           name="characterNameInput"
                           class="form-control"> <label for="characterNameInput">Charaktername:</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-floating">
                    <input type="text" class="form-control" id="chronik"> <label for="chronik">Chronik:</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-floating">
                    <input type="number" class="form-control" id="generation"> <label for="generation">Generation:</label>
                </div>
            </div>
        </div>
        <!-- Reihe 2 -->
        <div class="row" style="margin-bottom: 1%">
            <div class="col-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="wesen"> <label for="wesen">Wesen:</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating">
                    <input type="number" class="form-control" id="zuflucht"> <label for="zuflucht">Zuflucht:</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <!-- Links -->
                <div>
                    <div>

                    </div>
                </div>
                <!-- Mitte -->
                <!-- Rechts -->
                <div class="col-4">
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Attribute-->
    <div class="container">
        <div th:replace="~{fragments/sectionHeadline('Attribute')}"/>
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <h3 class="text-center">Körperlich</h3>
                </div>
                <div th:replace="~{fragments/skillWithSlider(${physical['vampire1.0']})}"></div>
            </div>
            <div class="col-4">
                <div class="row">
                    <h3 class="text-center">Gesellschaftlich</h3>
                </div>
                <div th:replace="~{fragments/skillWithSlider(${socials['vampire1.0']})}"></div>
            </div>
            <div class="col-4">
                <div class="row">
                    <h3 class="text-center">Geistig</h3>
                </div>
                <div th:replace="~{fragments/skillWithSlider(${spiritual['vampire1.0']})}"></div>
            </div>
        </div>
    </div>
    <!--Fähigkeiten-->
    <div class="container">
        <div th:replace="~{fragments/sectionHeadline('Fähigkeiten')}"/>
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <h3 class="text-center">Talente</h3>
                </div>
                <div th:replace="~{fragments/skillWithSlider(${talente['vampire1.0']})}"></div>
            </div>
            <div class="col-4">
                <div class="row">
                    <h3 class="text-center">Fertigkeiten</h3>
                </div>
                <div th:replace="~{fragments/skillWithSlider(${skills['vampire1.0']})}"></div>
            </div>
            <div class="col-4">
                <div class="row">
                    <h3 class="text-center">Kenntnisse</h3>
                </div>
                <div th:replace="~{fragments/skillWithSlider(${knowledge['vampire1.0']})}"></div>
            </div>
        </div>
    </div>
    <!-- Vorteile -->
    <div class="container">
        <div th:replace="~{fragments/sectionHeadline('Vorteile')}"/>

        <div class="row">
            <div class="col-4">
                <div class="row">
                    <h3 class="text-center">Hintergrund</h3>
                </div>
            </div>
            <div class="col-4">
                    <h3 class="text-center">Disziplinen</h3>
                    <div id="clanDisciplines">
                        <div th:replace="~{fragments/selectWithSlider(${disciplines['vampire1.0']}, 'clanDisciplineFixed0', 'Clan 1:', true)}"></div>
                        <div th:replace="~{fragments/selectWithSlider(${disciplines['vampire1.0']}, 'clanDisciplineFixed1', 'Clan 2:', true)}"></div>
                        <div th:replace="~{fragments/selectWithSlider(${disciplines['vampire1.0']}, 'clanDisciplineFixed2', 'Clan 3:', true)}"></div>
                    </div>
                    <div id="additionalDisciplnes">

                    </div>
                    <div class="row" id="additionalDisciplnesButtonRow">
                        <div class="col-6">
                            <button type="button" id="addButtonDiscipline" class="btn btn-outline-success col-12" onclick="addAdditionalDiscipline()">
                                +
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="button" id="subButtonDiscipline" class="btn btn-outline-danger col-12" onclick="removeDisciplie()">
                                -
                            </button>
                        </div>
                    </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <h3 class="text-center">Tugenden</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Buttons -->
    <div class="container">
        <button class="btn btn-dark" type="submit">Speichern</button>
        <button type="submit"></button>

    </div>
</form>
<form action="#" th:action="@{/}" method="POST">
    <button class="btn btn-outline-dark" type="submit">Reload</button>
</form>
</body>
<script th:inline="javascript">

    //Buttons
    const btnDisciplineRemove = document.getElementById("subButtonDiscipline")
    const btnDisciolineAdd = document.getElementById("addButtonDiscipline")


    /*<![CDATA[*/
    const countOfFixedDisciplines = 3;
    const maxDisciplines = /*[[${maxDisciplines}]]*/ null;
    let currentCountOfDisciples = 3;

    $(document).ready(function onready() {
        if (currentCountOfDisciples === countOfFixedDisciplines) {
            document.getElementById("subButtonDiscipline").style.display = "none"
        }
    });

    function changeClanData() {

        let nameOfId = "clanDisciplineFixed";
        var choosenClan = document.getElementById("clanInput").value;
        if (choosenClan !== "null") {
            var clans = /*[[${clans['vampire1.0']}]]*/ null
            var clan = null;
            let count = 0;

            clans.forEach(function (clanEntry) {
                    if (clanEntry.id === Number(choosenClan)) {
                        clan = clanEntry
                    }
                }
            )
            var discplines = clan.disciplines;

            while (count <= countOfFixedDisciplines) {
                document.getElementById(nameOfId.concat(count)).value = discplines[count];
                count++;
            }

            document.getElementById("clanDisciplineFixed1Input").value = discplines[0];
            console.log(clan)
        } else {
            while (count <= countOfFixedDisciplines) {
                document.getElementById(nameOfId.concat(count)).value = null;
                count++;
            }
        }
    }

    function removeDisciplie() {
        if (currentCountOfDisciples > countOfFixedDisciplines) {
            // Remove HTML for the Last Skill
            var lastDiscipline = document.getElementById("discipline" + currentCountOfDisciples);
            currentCountOfDisciples = currentCountOfDisciples - 1;
            $(lastDiscipline).remove();

            if (currentCountOfDisciples > countOfFixedDisciplines) {
                changeButtonVisibility(btnDisciolineAdd, 'block');
            }

            if (currentCountOfDisciples === countOfFixedDisciplines) {
                changeButtonVisibility(btnDisciplineRemove, 'none');
                changeButtonVisibility(btnDisciolineAdd, 'block');
            }
        }
    }

    function changeButtonVisibility(button, visibility) {
        button.style.display = visibility;
    }

    function addAdditionalDiscipline() {
        if (currentCountOfDisciples < maxDisciplines) {
            currentCountOfDisciples = currentCountOfDisciples + 1;

            const url = '/loadAdditional/disciples/' + currentCountOfDisciples;
            $.ajax({
                url: url, // Endpoint returning the rendered fragment
                method: 'GET',
                success: function (response) {
                    // Prepend the rendered HTML
                    console.log(response)
                    $("#additionalDisciplnes").append(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading fragment: ", error);
                }
            });

            if (currentCountOfDisciples > countOfFixedDisciplines) {
                changeButtonVisibility(btnDisciolineAdd, 'block');
                changeButtonVisibility(btnDisciplineRemove, 'block');
            }

            if (currentCountOfDisciples === maxDisciplines) {
                changeButtonVisibility(btnDisciolineAdd, 'none');
            }
        }

    }

    /*]]>*/
</script>
</html>