<form th:if="${regelauswahl != null}" id="stats" method="post" action="/save">
    <div class="container" data-bs-theme="light" style="margin-bottom: 1%">
        <div th:replace="~{fragments/sectionHeadline('Allgemeines')}"/>
        <div class="row col-12">
            <div th:replace="~{fragments/input :: input(type='text', id='spielername', label='Spielername', col='col-6')}"></div>
            <div th:replace="~{fragments/input :: input(type='text', id='chronik', label='Chronik', col='col-6')}"/>
        </div>
    </div>
    <!-- Container Charakter Daten -->
    <div class="container" data-bs-theme="light" style="margin-bottom: 1%">
        <div th:replace="~{fragments/sectionHeadline('Charakter Details')}"/>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h3 class="text-center">Charakterlich</h3>
                </div>
                <div class="row col-12" style="margin-bottom: 1%">
                    <div th:replace="~{fragments/input :: input(type='text', id='chracterName',label='Chraktername',col='col-9')}"/>
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="exp" th:disabled="${mode != 'EDIT'}"> <label for="exp">Erfahrungspunkte
                            :</label>
                        </div>
                    </div>
                </div>
                <div class="row col-12" style="margin-bottom: 1%">


                    <div th:replace="~{fragments/selectOnly :: selectOnly(selectData=${wesen}, selectId='wesen', labelText='Wesen', additionalColClass='col-6')}"/>
                    <div
                            th:replace="~{fragments/selectOnly :: selectOnly(selectData=${verhalten}, selectId='verhalten', labelText='Verhalten', additionalColClass='col-6')}"/></div>
                <div class="row col-12" style="margin-bottom: 1%">
                    <div
                            th:replace="~{fragments/selectOnly :: selectOnly(selectData=${konzept}, selectId='konzept', labelText='Konzept', additionalColClass='col-5')}"/>
                    <div th:replace="~{fragments/input :: input(type='text',id='erzeuger',label='Erzeuger',col='col-5')}"/>
                    <div class="col-2">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="generation" th:disabled="${mode != 'EDIT'}"> <label for="generation">
                            Generat.:</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <h3 class="text-center">Umstände</h3>
                    <div class="row" style="margin-bottom: 1%">
                        <div class="col-6 form-floating">
                            <select id="clanInput" th:name="${clanInput}" class="form-select col-12"
                                    th:onchange="changeClanData()" th:disabled="${mode != 'EDIT'}">
                                <option value="null">Bitte auswählen</option>
                                <option th:each="clan : ${clans}" th:value="${clan.id}"
                                        th:text="${clan.name}"></option>
                            </select> <label for="clanInput">Clan:</label>
                        </div>
                        <div
                                th:replace="~{fragments/selectOnly::selectOnly(selectData=${sect}, selectId='sekte', labelText='Sekte', additionalColClass='col-6')}"/>
                    </div>
                </div>
                <div class="row col-12">
                    <div th:replace="~{fragments/input:: input(type='text',id='zuflucht',label='Zuflucht',col='col-12')}"/>
                </div>
            </div>
        </div>
    </div>
    <!-- Attribute-->
    <div th:replace="~{replacements/attribute}"/>
    <!--Fähigkeiten-->
    <div th:replace="~{replacements/faehigkeiten}"/>
    <!-- Vorteile -->
    <div th:replace="~{replacements/vorteile}"/>
    <!-- Aussehen -->
    <div th:replace="~{replacements/aussehen}"/>
    <!-- Buttons -->
    <div class="container">
        <button class="btn btn-dark" th:disabled="${mode != 'EDIT'}"
                th:style="${mode != 'EDIT' ? 'display:none' : 'display:block' }">Speichern &
            Beenden</button>
    </div>
</form>
