<!--suppress ALL -->
<form id="stats" method="post" action="/save">
    <div class="container" data-bs-theme="light" style="margin-bottom: 1%">
        <div th:replace="~{fragments/sectionHeadline('Allgemeines')}"/>
        <div class="row col-12">
            <div th:replace="~{fragments/input :: input(type='text', id='spielername', label='Spielername', col='col-6')}"></div>
            <div th:replace="~{fragments/input :: input(type='text', id='chronik', label='Chronik', col='col-6')}"/>
        </div>
    </div>
    <!-- Container Charakter Daten -->
    <div class="container" data-bs-theme="light" style="margin-bottom: 1%">
        <div th:replace="~{fragments/sectionHeadline('Charakter Details')}"/>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <h3 class="text-center">Charakterlich</h3>
                </div>
                <div class="row col-12" style="margin-bottom: 1%">
                    <div th:replace="~{fragments/input :: input(type='text', id='chracterName',label='Chraktername',col='col-9')}"/>
                    <div class="col-3">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="exp" th:disabled="${mode != 'EDIT'}"> <label for="exp">Erfahrungspunkte
                            :</label>
                        </div>
                    </div>
                </div>
                <div class="row col-12" style="margin-bottom: 1%">
                    <div th:replace="~{fragments/selectOnly(${clans['vampire1.0']},'wesen','Wesen','col-6')}"/>
                    <div th:replace="~{fragments/selectOnly(${clans['vampire1.0']},'verhalten','Verhalten','col-6')}"/>
                </div>
                <div class="row col-12" style="margin-bottom: 1%">
                    <div th:replace="~{fragments/selectOnly(${clans['vampire1.0']},'konzept','Konzept','col-5')}"/>
                    <div th:replace="~{fragments/input :: input(type='text',id='erzeuger',label='Erzeuger',col='col-5')}"/>
                    <div class="col-2">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="generation" th:disabled="${mode != 'EDIT'}"> <label for="generation">
                            Generat.:</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <h3 class="text-center">Umstände</h3>
                    <div class="row" style="margin-bottom: 1%">
                        <div class="col-6 form-floating">
                            <select id="clanInput" th:name="${clanInput}" class="form-select col-12"
                                    th:onchange="changeClanData()" th:disabled="${mode != 'EDIT'}">
                                <option value="null">Bitte auswählen</option>
                                <option th:each="clan : ${clans['vampire1.0']}" th:value="${clan.id}"
                                        th:text="${clan.name}"></option>
                            </select> <label for="clanInput">Clan:</label>
                        </div>
                        <div th:replace="~{fragments/selectOnly(${sect['vampire1.0']},'sekte','Sekte','col-6')}"/>
                    </div>
                </div>
                <div class="row col-12">
                    <div th:replace="~{fragments/input:: input(type='text',id='zuflucht',label='Zuflucht',col='col-12')}"/>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Attribute-->
    <div th:replace="~{replacements/attribute}"/>
    <!--Fähigkeiten-->
    <div th:replace="~{replacements/faehigkeiten}"/>
    <!-- Vorteile -->
    <div th:replace="~{replacements/vorteile}"/>
    <!-- Aussehen -->
    <div th:replace="~{replacements/aussehen}"/>
    <!-- Buttons -->
    <div class="container">
        <button class="btn btn-dark" th:disabled="${mode != 'EDIT'}"
                th:style="${mode != 'EDIT' ? 'display:none' : 'display:block' }">Speichern &
            Beenden</button>
    </div>
</form>
<button class="btn btn-outline-dark" type="submit">Reload</button>
<script th:inline="javascript">
    const form = document.getElementById('stats');
    const saveUrl = '/save';

    form.addEventListener('submit', (event) => {
        event.preventDefault(); // Verhindert den Standardformularversand
        const formData = new FormData(form);
        const convertedData = Object.fromEntries(
            [...formData.entries()].map(([key, value]) => {
                // Check if the key corresponds to a range input, or generally parse numbers
                if (key.includes('range') || key.includes('number')) {
                    // You can adapt this condition to fit your form structure
                    return [key, parseInt(value, 10)]; // Convert to integer
                }
                if(value === "null") {
                    return [key, null]
                }
                return [key, value]; // Keep other values as they are
            })
        );

        const json = JSON.stringify(convertedData);
        var responseOk;
        console.log(json)
        fetch(form.action, {
            url: saveUrl,
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: json,
        })
        .then(response => {
            responseOk = response.ok;
            return response.text()
        })
        .then(responseBody => {
            addSaveToast(responseBody, responseOk).then(resp => {
                var saveToast = document.getElementById('saveToast');
                new bootstrap.Toast(saveToast).show()
                console.log(responseBody)
            });
            }
        );
    });

    /*<![CDATA[*/
    const countOfFixedDisciplines = 3;
    const maxDisciplines = /*[[${maxDisciplines}]]*/ null;
    let currentCountOfDisciples = 3;


    function changeClanData() {

        let nameOfId = "clanDisciplineFixed";
        var choosenClan = document.getElementById("clanInput").value;
        if (choosenClan !== "null") {
            var clans = /*[[${clans['vampire1.0']}]]*/ null
            var clan = null;
            let count = 0;

            clans.forEach(function (clanEntry) {
                    if (clanEntry.id === Number(choosenClan)) {
                        clan = clanEntry
                    }
                }
            )
            var discplines = clan.disciplines;

            while (count <= countOfFixedDisciplines) {
                document.getElementById(nameOfId.concat(count)).value = discplines[count];
                count++;
            }

            document.getElementById("clanDisciplineFixed1Input").value = discplines[0];
            console.log(clan)
        } else {
            while (count <= countOfFixedDisciplines) {
                document.getElementById(nameOfId.concat(count)).value = null;
                count++;
            }
        }
    }


    /*]]>*/
</script>